.robo-list {
    text-align: center;
}

.robo-list button {
    margin: 0;
}

.robo-list ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.robo-list__header {
  background-color: hsl(225, 50%, 50%);
}

.robo-list__header h1 {
  margin: 0;
}

.robo-list select {
    width: 40%;
    font-size: x-large;
    font-family: monospace;
}
