.robo-widget {
  border: 1px hsl(225, 13%, 82%) solid;
  background-color: hsl(225, 8%, 96%);
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  border-right: 0;
}

.robo-widget__top {
  border-top-left-radius: 10px;
}

.robo-widget__bottom {
  border-bottom-left-radius: 10px;
}

.robo-widget__content {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
