.robo-list-item {
  padding-bottom: 5px;
}

.robo-list-item:hover {
  background-color: hsl(225, 13%, 82%);
}

.robo-list-item__robo-indicator img {
  background-color: rgb(0,255,0);

  vertical-align: bottom;
}

.robo-list-item__robo-id {
  font-size: x-large;
  font-weight: bold;
  font-family: Courier, monospace;

  line-height: 1;

  vertical-align: bottom;
}

.robo-list-item__status-indicator {
  font-size: 200%;

  line-height: 1;

  vertical-align: bottom;

}

.is-ok .robo-list-item__status-indicator {
  color: lightgreen;
}

.is-bad .robo-list-item__status-indicator {
  color: red;
}

.is-warn .robo-list-item__status-indicator {
  color: yellow;
}

.robo-list-item__beeper img {
  height: 13px;

  vertical-align: middle;
}

.robo-list-item__beeper, .robo-list-item__expando-tab {
  visibility: hidden;
}

.is-dropdown .robo-list-item__expando-tab {
  visibility: visible;
}

.robo-list-item:hover .robo-list-item__beeper,
.robo-list-item:hover .robo-list-item__expando-tab {
  visibility: visible;
}

.robo-list-item__expando-tab {
  display: inline-block;

  width: 30px;

  margin-left: 8px;
  margin-bottom: -2px;

  border-top-left-radius: 5px;

  vertical-align: bottom;

  text-align: center;
}

.robo-list-item__dropdown,
.robo-list-item__expando-tab {
  background-color: #ddd;

  border-radius: 5px;

  box-shadow: -1px -1px 2px #aaa;
}

.robo-list-item__dropdown {
  margin: 2px 8px;

  border-top-left-radius: 0;

  padding: 4px;
  text-align: right;
}

.is-dropdown .robo-list-item__expando-tab {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.is-usb .conn-type--zigbee {
  display: none;
}
