.robo-list-item {
  padding: 2px 8px;
  border-top: 1px solid  #Ddd;
}

.robo-list-item * {
  vertical-align: bottom;
}

.robo-list-item:hover {
  background-color: hsl(225, 12%, 91%);
}

.robo-list-item__robo-indicator img {
  background-color: rgb(0,255,0);
}

.robo-list-item__dragee {
    display: inline-block;
    cursor: move;
}

.robo-list-item__robo-id {
  font-size: x-large;
  /*font-weight: bold;*/
  font-family: monospace;
}

.robo-list-item__status-indicator {
  font-size: 200%;

  line-height: 1;

}

.is-ok .robo-list-item__status-indicator {
  color: lightgreen;
}

.is-bad .robo-list-item__status-indicator {
  color: red;
}

.is-warn .robo-list-item__status-indicator {
  color: yellow;
}

.robo-list-item__beeper img {
  height: 13px;
}

.robo-list-item__beeper, .robo-list-item__expando-tab {
  visibility: hidden;
}

.robo-list-item:hover .robo-list-item__beeper,
.robo-list-item:hover .robo-list-item__expando-tab {
  visibility: visible;
}

.robo-list-item__expando-tab {
  display: inline-block;

  width: 30px;

  border-top-left-radius: 5px;
}

.robo-list-item__expando-tab {
  background-color: #ddd;

  border-radius: 5px;

  box-shadow: -1px -1px 2px #aaa;
}

.robo-list-item__dropdown {
  margin: 2px 8px;

  border-top-left-radius: 0;

  padding: 4px;
  text-align: right;
}

.is-usb .conn-type--zigbee {
  display: none;
}
